* {
    font-family: "Outfit";
    font-weight: 400;
}

.Container {
    background-image: url('./GraphicSide(2).svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.centeredContent {
    text-align: center;
}

.logo {
    margin-top: 65px;
}

.loginContainer {
    margin-top: 32px;
    height: 526px;
    width: 500px;

}

/* .loginHeader{
    height: 78px;
    width: 313px;
} */

.loginHeader>div:first-child {
    font-size: 36px;
    font-family: "Barlow Condensed";
    font-weight: 500;


}

.loginHeader>div:nth-child(2) {
    font-size: 18px;
    line-height: 22.68px;
    margin-top: 12px;

}

.loginForm {
    margin-top: 56px;
}

.loginForm form {
    display: grid;
    gap: 24px;
}

.loginForm form input {
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #E0E0E0;
    width: 100%;
    padding-bottom: 12px;
}

.loginForm form input:focus {
    /* border: none; */
    outline: none;
}

.forgotpwd {
    margin-top: 28px;
    text-align: end;
    font-size: 16px;
    font-weight: 400;

}

.loginbtn {
    /* margin-top: 56px; */
    background-color: #0287D4;
    font-size: 16px;
    border: none;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust this value as needed */
    transform: translateY(-50%);
    cursor: pointer;
}

.password-input {
    position: relative;
}

input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }


.loginForm form input:focus,
.loginForm form input.valid,
.loginForm form input.active,
.loginForm form input:-webkit-autofill:focus,
.loginForm form input:-webkit-autofill:hover,
.loginForm form input:-webkit-autofill,
.loginForm form input:-webkit-autofill:active {
    outline: 0;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;

}


input:-internal-autofill-selected {
    background-color: transparent !important;
    color: white !important;
    font-family: "Outfit";
    -webkit-box-shadow: none !important;
}

/* Additional selector for the font color */
input:-internal-autofill-selected,
input:-internal-autofill-selected:focus {
    color: white !important;
}

/* For non-autofilled inputs */
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

/* For autofilled inputs */
input:-webkit-autofill::first-line {
    color: white !important;
}






@media only screen and (max-width: 768px) {

    .loginContainer {

        width: 350px;

    }

    .logo {
        margin-top: 105px;
    }
}


@media only screen and (min-width: 320px) and (max-width:375px) {
    .loginContainer {
        padding: 24px;
    }

    .loginForm form {
        gap: 10px;
    }

    .forgotpwd {
        margin-top: 8px;

    }

    .logo {
        margin-top: 100px !important;

    }

}

@media only screen and (min-width: 375px) and (max-width:580px) {
    .loginContainer {
        /* padding: 24px;   */
    }

    .loginForm form {
        gap: 10px;
    }

    .forgotpwd {
        margin-top: 8px;

    }

    .logo {
        margin-top: 100px !important;

    }

}